@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center col-6 m-auto mt-2 border rounded">
	<ul class="list-group list-group-flush">
		<li class="list-group-item list-group-item-action"><a href="~/index.html">index.html</a></li>
		<li class="list-group-item list-group-item-action"><a href="/Sample01">Sample01</a></li>
		<li class="list-group-item list-group-item-action"><a href="/Sample02/Index?url=https://avatars3.githubusercontent.com/u/36030621?&u=b83e8af3d98696258f1cb38ccd32acb172d920f5&v=4&sourcex=120&sourcey=100&sourcewidth=360&sourceheight=360&destinationwidth=100&destinationheight=100">Sample02</a></li>
		<li class="list-group-item list-group-item-action"><a href="/Sample03/Index?url=https://avatars3.githubusercontent.com/u/36030621?&u=b83e8af3d98696258f1cb38ccd32acb172d920f5&v=4&sourcex=120&sourcey=100&sourcewidth=360&sourceheight=360&destinationwidth=100&destinationheight=100">Sample03</a></li>
		<li class="list-group-item list-group-item-action"><a href="/image/260/260/me.jpeg">Sample04 => /image/{width}/{height}/{*url}</a></li>
	</ul>
</div>