@{
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="col-6 m-auto border rounded text-center p-4">
	<h2 class="h2 text-info">Sample 01 .. !!!!</h2>
	<form class="form-group" action="/Sample01/Index" method="post" enctype="multipart/form-data">
		<input class="form-control" type="file" name="files" />
		<button class="btn btn-success mt-2">Post</button>
	</form>
</div>